<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MassarelliCommissionReport.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MassarelliCommissionReport.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MassarelliCommissionReport.My.MySettings.DATAConnectionString"
            connectionString="Data Source=LEHIGH-GA;Initial Catalog=DATA;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="MassarelliCommissionReport.My.MySettings.DATA999ConnectionString"
            connectionString="Data Source=MASS_SQL;Initial Catalog=DATA_999;Persist Security Info=True;User ID=sa;Password=stmartin" />
        <add name="MassarelliCommissionReport.My.MySettings.DATAMASSConnection"
            connectionString="Data Source=MASS_SQL2;Initial Catalog=DATA;Persist Security Info=True;User ID=sa;Password=STMARTIN" />
        <add name="MassarelliCommissionReport.My.MySettings.DATA200ConnectionString"
            connectionString="Data Source=MASS_SQL;Initial Catalog=DATA_200;Persist Security Info=True;User ID=sa;Password=stmartin" />
        <add name="MassarelliCommissionReport.My.MySettings.DATA_TCOPTIPLEX"
            connectionString="Data Source=TC-OPTIPLEX\SQL2008R2;Initial Catalog=DATA;Persist Security Info=True;User ID=sa;Password=230South5th"
            providerName="System.Data.SqlClient" />
        <add name="MassarelliCommissionReport.My.MySettings.DATA_MASSSQL2"
            connectionString="Data Source=MASS_SQL2;Initial Catalog=DATA;Persist Security Info=True;User ID=sa;Password=STMARTIN"
            providerName="System.Data.SqlClient" />
        <add name="MassarelliCommissionReport.My.MySettings.DATA03_TCOptiPlex"
            connectionString="Data Source=TC-OPTIPLEX;Initial Catalog=DATA03;Persist Security Info=True;User ID=sa;Password=230South5th"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <MassarelliCommissionReport.My.MySettings>
            <setting name="BatchID_Stripped" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TotalSalesAmt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RepGroup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SalesPersonNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InvoiceNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CusNo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShipToName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShipToState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FreightAmount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FreightPercent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NetSalesAmount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiscountAmount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PickupAllowanceAmount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AmountPaid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CommissionPercent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CommissionAmount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Reference" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SalesPersonName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BillToState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OrderDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShipDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PaymentDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SS12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Modified" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BatchID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CusNo_Stripped" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OrderNo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MiscAmt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ValidatedComm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddedColumn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultDB" serializeAs="String">
                <value>DATA</value>
            </setting>
        </MassarelliCommissionReport.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <MassarelliCommissionReport.My.MySettings>
            <setting name="DefaultServer" serializeAs="String">
                <value>mass-sql1</value>
            </setting>
        </MassarelliCommissionReport.My.MySettings>
    </applicationSettings>
</configuration>
